* {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(128, 128, 128, 0.651), rgba(255, 255, 255, 0.363)), url("../img/amadaranth-7Wcwc8tru2U-unsplash.jpg");
    background-position: 50% 30%;
    background-size: cover;
}

.container {
    width: 55%;
    height: 100vh;
    /* background: orange; */
    margin: auto;
    /* text-align: center; */
    padding-top: 70px;
}

.header-text {
    text-align: center;
    padding: 30px;
}

.form {
    background: rgba(106, 150, 216, 0.76);
    border-radius: 10px;
    padding: 50px;

}

label,
input {
    display: block;
    width: 100%;
}

.mb {
    margin-bottom: 20px;
}

input {
    padding: 10px 15px;
    outline-color: skyblue;
    border-radius: 4px;
    border: none;
    color: #000;
}

select {
    width: 100%;
    color: #000;
    padding: 10px 20px;
    border: none;
    outline: skyblue;
}

option {
    color: #222;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: skyblue;
}